name: Reddit-Get Deployment

on:
  release:
    branches: [ main ]
    types: [ published ]  # published means created but not draft or prerelease

jobs:
  test_build_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install Python
        run: uv python install 3.11

      - name: Install dependencies
        run: uv sync --all-groups

      - name: Run pytest with coverage
        run: uv run pytest -vvv --cov=reddit_get --cov-fail-under=90 --cov-report=xml:docs/coverage/deployment/report.xml --numprocesses=auto --color=yes

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          name: codecov-umbrella
          fail_ci_if_error: true

      - name: Build package
        run: uv build -v

      - name: Deploy to PyPI
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: uv publish
